.candidateSelect{
    background-color: transparent;
    border: 0;
    width:fit-content;
    color:rgb(83, 80, 80);
    font-weight: 500;
    font-size: 14px;
}
.sortStatus{
    display: flex;
    align-items: center;
    margin-left:40px;
    padding: 5px;
    width:250px;
    gap:10px;
    font-weight: 600;
    color: rgb(90, 86, 86)
}