
.published {
    background-color: rgb(13, 34, 51);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:130px;
  height:30px;
  padding: 6px;
  font-weight: 600;
}
.dropDownActivity{
    border:0;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.addCandidateButton{
    width:130px;
    height: 30px;
    border: 1px solid rgba(140, 141, 143, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: .9rem;
    padding-left: 5px;
    color: rgb(63, 58, 58);
    text-align: center;
    font-weight: 00;
}