.accountImageContainer{
    background-color: rgb(49, 73, 182);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 4px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.accountImagedesign{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color:rgb(49, 73, 182);
  top:0px;
  right: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.addNew{
    width:90px;
    height:30px;
    background-color: rgb(13, 34, 51);
    color: white;
    font-size: .9rem;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 50px;
}
.userLogin{
    margin:0 30px 0 50px;
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(86, 146, 90, 0.6);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: .8;
}